.aboutSkillsContainer {
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding: 2rem 0;
    gap: 20px;
    user-select: none;
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.skillsSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMeSection h3,
.skillsSection h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.aboutMeSection p {
    height: fit-content;
    color: white;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.25)
    );

    backdrop-filter: blur(8px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.25);
    padding: 20px;
    font-size: 1.2rem;
}

.skillsSection ul {
    line-height: 1.5;
    flex: 1;
    color: white;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.25)
    );

    backdrop-filter: blur(8px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.25);
    padding: 20px 50px;
    font-size: 1.2rem;
}

.aboutMeSection p:hover,
.skillsSection ul:hover {
    box-shadow:
        0 35px 70px rgba(0, 0, 0, 0.6),
        0 0 25px rgba(180, 120, 255, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.3);

    border: 1px solid rgba(255, 255, 255, 0.4);
}
