.proyectsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.proyectsSection h3 {
    color: white;
    font-size: 2rem;
    margin-top: 100px;
}

.ProyectsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
