.clientModuleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: white;
    gap: 20px;
    user-select: none;
}

.clientModuleSection h3 {
    font-size: 2rem;
}

.clientModuleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.clientModuleCarouselContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    right: 20px;
    overflow: hidden;
}

.swiperContainer {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperContainer img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.clientModuleFunctionalites {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    align-items: center;
}

.functionalitiesGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    top: 50px;
}

.functionalitiesGrid p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}

.functionalitiesGrid p:hover {
    scale: 1.01;
    transform: translateY(-5px);
}
