.aboutProyectSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    user-select: none;
}

.aboutProyectSection h3 {
    font-size: 2rem;
}

.aboutProyectContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}

.proyectObjective,
.proyectProblem,
.proyectTargetAudience {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

.proyectObjective ul,
.proyectProblem ul,
.proyectTargetAudience ul {
    margin-left: 20px;
}
