.proyectCard {
    width: 100%;
    height: 200px;
    display: flex;
    color: white;
    gap: 20px;
    user-select: none;

    transition: all 0.3s ease;
}

.proyectCardImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
}

.proyectCardImage img {
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;
}

.proyectCardImage img:hover {
    transform: scale(1.05);
}

.proyectCardContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding-right: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.techStack {
    opacity: 0.7;
    font-size: 0.9rem;
}

.description {
    opacity: 0.9;
}

.viewProjectButton {
    align-self: flex-start;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.viewProjectButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    scale: 1.05;
}
