.proyectCard {
    width: 100%;
    height: 200px;
    display: flex;
    color: white;
    gap: 20px;
    padding: 20px;
    user-select: none;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.25)
    );

    backdrop-filter: blur(8px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.25);

    transition: all 0.3s ease;
}

.proyectCard:hover {
    box-shadow:
        0 30px 60px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.proyectCardImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
}

.proyectCardImage img {
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;
}

.proyectCardImage img:hover {
    transform: scale(1.05);
}

.proyectCardContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding-right: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.techStack {
    opacity: 0.7;
    font-size: 0.9rem;
}

.description {
    opacity: 0.9;
}

.viewProjectButton {
    align-self: flex-start;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.viewProjectButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    scale: 1.05;
}
