.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    font-size: 0.9rem;
    user-select: none;
}
.footer p {
    color: white;
    opacity: 0.7;
}
