.heroSection {
    user-select: none;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    padding: 50px 0;
    align-items: center;
}

.imageContainer {
    height: 45%;
    position: absolute;
    right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

.imageContainer img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
}

.textContainer {
    flex: 0.55;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    width: 50%;
    justify-content: space-evenly;
}

.heroHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heroHeader h4 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}
.heroHeader h2 {
    font-size: 3rem;
}

.textContainer p {
    font-size: 1.5rem;
    width: 100%;
}

.techStack {
    display: flex;
    width: 100%;
    gap: 30px;
}

.techStack span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.techStack span p {
    font-size: 1.2rem;
}

.icon {
    font-size: 3rem;
}

.reactIcon {
    color: #61dafb;
    transition: all 0.3s ease-in-out;
}

.springbootIcon {
    color: #6db33f;
    transition: all 0.3s ease-in-out;
}

.mysqlIcon {
    color: #4479a1;
    transition: all 0.3s ease-in-out;
}

.reactIcon:hover,
.springbootIcon:hover,
.mysqlIcon:hover {
    transform: translateY(-5px) scale(1.1);
}

.githubLinks {
    display: flex;
    width: 100%;
    gap: 20px;
}

.githubIcon {
    color: white;
    font-size: 3rem;
}

.githubButton {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 14px 28px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 1.2rem;

    transition: all 0.2s ease;
}

.githubButton:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}
