.background {
    background: var(--background-gradient);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20vw;
    overflow-y: auto;
}

.goBackContainer {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4) inset 0 1px 0
        rgba(255, 255, 255, 0.08);
    width: 150px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    transition: all 0.3s ease;
}

.goBackContainer:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

.goBackContainer:hover span {
    transform: translateY(-5px) scale(1.1);
}

.goBackContainer span {
    font-size: 2.5rem;
    transition: all 0.5s ease;
}

.additionalSection {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
}

.additionalSection h3 {
    font-size: 2rem;
}

.additionalSectionButtonsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.mockupContainer {
    width: 80%;
    height: 80%;
}
