.architectureSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    gap: 20px;
    margin-top: 100px;
    user-select: none;
}

.architectureSection h3 {
    font-size: 2rem;
}

.architectureContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.architectureDescription {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
}

.architectureDescription ul {
    margin-left: 20px;
}

.architectureVisualContent {
    display: flex;
    gap: 50px;
    width: 100%;
}

.architectureVisualItem {
    flex: 1;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.architectureVisualItem img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.architectureVisualItem p {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.diagramImage:hover {
    cursor: pointer;
    scale: 1.03;
}

.imageModalContent {
    background: linear-gradient(
        180deg,
        rgba(63, 0, 135, 0.9),
        rgba(32, 0, 74, 0.9)
    );
    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.15);

    display: flex;
    padding: 10px;
}

.imageModalContent img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
