.stackSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 90;
    user-select: none;
}

.stackSection h3 {
    color: white;
    font-size: 2rem;
}

.stacksContainer {
    perspective: 1000px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.stackItem {
    color: white;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 25px 0;
}

.stackItem h4 {
    font-size: 1.4rem;
}

.stackItem p {
    font-size: 0.95rem;
    opacity: 0.9;
}
