/* ANIMATIONS */

.fadeUp {
    animation: fadeUp 1s ease forwards;
    transform: translateY(30px);
    opacity: 0;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.slideUp {
    animation: slideUp 0.3s ease forwards;
    transform: translateY(100vh);
}

@keyframes slideUp {
    to {
        transform: translateY(0);
    }
}

.exitSlideDown {
    animation: exitSlideDown 0.3s ease forwards;
}

@keyframes exitSlideDown {
    to {
        transform: translateY(100vh);
    }
}

.slideDown {
    animation: slideDown 0.3s ease forwards;
    transform: translateY(-100vh);
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}
