* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: overlay;
}

:root {
    --background-color: #2c055c;
    --background-gradient: linear-gradient(180deg, rgba(32, 0, 74, 1) 0%, rgba(63, 0, 135, 1) 50%, rgba(103, 20, 199, 1) 100%);
}